
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

$body-bg: #f2f2f2;
$body-color: #222;
$primary: #3766a9;
$secondary: #d9f5ff;

$container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px,
  xxl: 720px
);

@import "../node_modules/bootstrap/scss/bootstrap";

body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
    font-weight: 400;
}

.btn {
    font-weight: 500;
}

.header {
    height: 58px;
}

.main {
    margin-top: 58px;
}

.sidebar {
    width: 220px;
}

.page {
    width: calc(100% - 220px);
}