.header {
  height: 58px;
}

.main {
  margin-top: 58px;
}

.sidebar {
  width: 240px;

  aside {
    width: 240px;
    position: fixed;
    left: 0;
    top: 58px;
  }

  //

  &--toggle {
    width: 0;
    aside {
      left: -250px;
    }
  }

  // responsive

  @media (max-width: 1024px) {
    width: 0;
    aside {
      left: -250px;
      padding: 1.5rem !important;
    }

    &--toggle {
      aside {
        background: #f2f2f2;
        left: 0;
        height: 100%;
        // top: 0;
      }
    }
  }
}

//

// page

.page {
  width: calc(100% - 240px);

  &--fullWidth {
    width: 100%;
  }

  @media (max-width: 1024px) {
    width: 100%;
  }
}

//  article

.article {
  &UserAva {
    min-width: 20px;
    height: 20px;
  }

  &Image {
    height: 300px;
  }
}
